@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

	
.ust {
	
	width:1024px;
	height:200px;
	background-color:#FF0;
	
	}
	
.orta1 {
	
	width:1024px;
	height:500px;
	background-color:#767569;
	margin-top:10px;
	margin-bottom:10px;
	
	}
	
.orta2 {
	
	width:1024px;
	height:150px;
	background-color:#9A9A83;
	
	
     }

.alt  {
	
	width:1024px;
	height:100px;
	background-color:#B7B7B7;
	margin-top:10px;
	
	
	}